
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcworkspace
*.ds_store

Content/Audio/
Content/3DModels/
Content/Textures/
Content/Movies/
Content/Paks/

*.fbx
*.obj
*.wav
*.mp3
*.psd
*.tga

**/Textures/
**/Audio/
**/3DModels/
**/Movies/
**/Meshes/
**/Paks/

Content/StarterContent/
Content/MedievalDungeon/
Content/Characters/
Content/FirstPerson/
Content/LevelPrototyping/
Content/Variant_Horror/
Content/Variant_Shooter/
Content/Weapons/
Content/Input/

*.umap
*_BuiltData.uasset

Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Variant_Horror/
Content/Variant_Shooter/
Content/Dungeon_Modular_V1/
Content/MegaGameMusicCollection/
Content/StarterContent/